<p>
  configuration works!
</p>

<!--
<strong>User Informaion</strong>
{{msg.ID}}{{UerInfo.TopMessage}}

<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> User Information
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <tbody>
              <tr>
                <td>{{UserInfo.IDCatal}}</td>
                <td>{{msg.ID}}</td>
              </tr>
              <tr>
                <td>{{UserInfo.NameCatal}}</td>
                <td>{{msg.Name}}</td>
              </tr>
              <tr>
                <td>{{UserInfo.PasswordCatal}}</td>
                <td>
                  <input type="password" [value]="password">
                </td>
              </tr>
              <tr>
                <td>{{UserInfo.ConfirmPasswordCatal}}</td>
                <td>
                  <input type="password" [value]="repassword">
                </td>
              </tr>
              <tr>
                <td>{{UserInfo.PhoneCatal}}</td>
                <td>
                  <input type="text" [(NgModel)]="phone">
                </td>
              </tr>
              <tr>
                <td>{{UserInfo.CompanyCatal}}</td>
                <td>{{msg.Company}}</td>
              </tr>
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
  </div>
</div>
-->

<!--
<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> User Information
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Username</th>
                <th>Date registered</th>
                <th>Role</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>User ID</td>
                <td>{{ID}}</td>
              </tr>
              <tr>
                <td>User Name</td>
                <td>{{Name}}</td>
              </tr>
              <tr>
                <td>User Password</td>
                <td>
                  <input type="password" [value]="password">
                </td>
              </tr>
              <tr>
                <td>User Password Confirm</td>
                <td>
                  <input type="password" [value]="repassword">
                </td>
              </tr>
              <tr>
                <td>User Phone Number</td>
                <td>
                  <input type="text" [(NgModel)]="phone">
                </td>
              </tr>
              <tr>
                <td>User Company</td>
                <td>{{Company}}</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
-->